heat_template_version: 2018-08-31
description: Single File Heat Template Demo

#####################################################################################################
# Script_Name :
# Description :
#
# Heat Version: Rocky (2018-08-31)
# Date :
# WebSite :
# Version :
# Disclaimer : Script provided AS IS. Use it at your own risk.... Make modifications if necessary.
#
# --------------------------------------------------------------------------------------------------
#
# Yaml Guide:
#
# *0 | Parameters
#   *0.1 Instance Parameters
#
# *1 | Instance Resources
#
# *2 | Network Resources
#   *2.1 Sec Groups
#   *2.2 Networks
#   *2.3 Networks
#   *2.4 Ports
#
# *3 | Network Resources
#   *3.1 Routers
#   *3.2 Router Interfaces
#
# *4 | Network Resources
#   *4.1 Float IPs
#   *4.2 Float Associations
#
# *5 | Server Creation
#   *5.1 Server Group 1 - CTFd server
#   *5.2 Server Group 2 - Jumpboxes
#   *5.3 Server Group 3 - alpha    hosts
#   *5.4 Server Group 4 - bravo    hosts
#   *5.5 Server Group 5 - charlie  hosts
####################################################################################################

#-------------------------------------------------------------------#
# *0 | Parameters
#-------------------------------------------------------------------#

parameters:

  # *0.1 Instance Parameters
  ansible_key:
    type: string
    default: {{ ANSIBLE_KEY }}
    description: This is the ssh key used to authenticate with the ansible service running in Gitlab CI/CD

  image:
    type: string
    default: cirros
    description: This is the image used for the instances

  flavor:
    type: string
    default: disk.small
    description: This is the flavor used for the instances
#-------------------------------------------------------------------#
# *1 | Resources
#-------------------------------------------------------------------#
resources:

  # *1.1 | Instance Resources
  nix_config:
    type: OS::Heat::SoftwareConfig
    properties:
      config:
        str_replace:
          template: |
            groups:
              - ubuntu: [root,sys]
              - cloud-users

            users:
              - default
              - name: ansible
                gecos: ansible
                primary_group: ansible
                groups: users, admin
                sudo:  ALL=(ALL) NOPASSWD:ALL
                shell: /bin/bash
                lock_passwd: false
                plain_text_passwd: usacys_ansible_PASSWORD_1234
                ssh_authorized_keys:
                  - $key

            runcmd:
              - echo "HELLO FROM nix_config!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
          params:
            $key: {get_param: ansible_key }


# *2.1 Sec Groups

  disable-sec-group:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Disable all security groups
      name: Allow ANY:ANY
      rules:
      - remote_ip_prefix: 0.0.0.0/0
        direction: ingress
        protocol: TCP
        port_range_min: 1
        port_range_max: 65535
      - remote_ip_prefix: 0.0.0.0/0
        direction: ingress
        protocol: UDP
      - remote_ip_prefix: 0.0.0.0/0
        protocol: ICMP
        port_range_min: 1
        port_range_max: 65535


  ctfd-security-group:
    type: OS::Neutron::SecurityGroup
    properties:
      description: Enable remote access on default port 8000 and 1775
      name: ctfd_security_group
      rules:
        - remote_ip_prefix: 0.0.0.0/0
          direction: ingress
          protocol: tcp
          port_range_min: 8000
          port_range_max: 8000
        - remote_ip_prefix: 0.0.0.0/0
          direction: ingress
          protocol: icmp
        - remote_ip_prefix: 0.0.0.0/0
          direction: ingress
          protocol: tcp
          port_range_min: 1775
          port_range_max: 1775

#  *3.1 Routers

  external_router:
    type: OS::Neutron::Router
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: external_router
            ID: { get_param: "OS::stack_name" }
      external_gateway_info:
        network: public

# *2.2 Networks
{% for name in Networks %}
  net_{{ name }}:
    type: OS::Neutron::Net
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: net_{{ name }}
            ID: { get_param: "OS::stack_name" }

  subnet_{{ name }}:
    depends_on: net_{{ name }}
    type: OS::Neutron::Subnet
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: subnet_{{ name }}
            ID: { get_param: "OS::stack_name" }
      enable_dhcp: true
      host_routes: []
      ip_version: 4
      network: { get_resource: net_{{ name }} }
      dns_nameservers: [ 10.50.255.254 ]
      cidr:       {{ Networks[name].cidr }}
      gateway_ip: {{ Networks[name].gateway_ip }}
      allocation_pools:
        - start:  {{ Networks[name].start }}
          end:    {{ Networks[name].end }}

  external_router_interface_{{ name }}:
    depends_on:
      - external_router
      - subnet_{{ name }}
    type: OS::Neutron::RouterInterface
    properties:
      router: { get_resource: external_router }
      subnet: { get_resource: subnet_{{ name }} }

{% endfor %}

# *2.4 Ports
  ctfd_port:
    depends_on: net_ctfd
    type: OS::Neutron::Port
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: ctfd_port
            ID: { get_param: "OS::stack_name" }
      network: { get_resource: net_ctfd }
      port_security_enabled: true
      security_groups:
        - { get_resource: ctfd-security-group }

{% for name in Ports %}
  {{ name }}:
    depends_on: net_{{ Ports[name].net }}
    type: OS::Neutron::Port
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: {{ name }}
            ID: { get_param: "OS::stack_name" }
      network: { get_resource: net_{{ Ports[name].net }} }
      port_security_enabled: false
      fixed_ips:
        - ip_address: {{ Ports[name].ip_address }}

{% endfor %}

# *4.1 Instance Group 1
{% for name in Instance_Group_1 %}
{# The line below will test if the key in the dictionary [name] exists or is set to null #}
{#{% if Instance_Group_1[name].net %} #}
{# The line below does a pseudo regex test of the 'name' variable and if it matches, will include the code for those matches #}
{% if name.find("box") > -1 or name.find("ctfd") > -1%}
  {{ name }}_float_ip:
    depends_on: external_router
    type: OS::Neutron::FloatingIP
    properties:
      floating_network: public

  {{ name }}_float_ip_assoc:
    depends_on:
      - external_router_interface_{{ Instance_Group_1[name].net }}
      - {{ name }}_float_ip
      - {{ name }}_port
    type: OS::Neutron::FloatingIPAssociation
    properties:
      floatingip_id: { get_resource: {{ name }}_float_ip }
      port_id: { get_resource: {{ name }}_port }

{% endif %}
  {{ name }}-server:
    depends_on:
      - {{ name }}_port
      - nix_config
    type: OS::Nova::Server
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: {{ name }}
            ID: { get_param: "OS::stack_name" }
      networks:
        - port: { get_resource: {{ name }}_port }
      flavor: { get_param: flavor }
      image: { get_param: image }
      diskConfig: AUTO
      config_drive: "true"
      user_data_format: SOFTWARE_CONFIG
      user_data: { get_resource: nix_config }

{% endfor %}
# *4.1 Instance Group 2
{% for name in Instance_Group_2 %}
  {{ name }}:
    depends_on:
      - {{ name }}_port_main
      - {{ name }}_port_{{ name.split("_")[0] }}
      - nix_config
    type: OS::Nova::Server
    properties:
      name:
        str_replace:
          template: PREFIX-ID
          params:
            PREFIX: {{ name }}
            ID: { get_param: "OS::stack_name" }
      networks:
        - port: { get_resource: {{ name }}_port_main }
        - port: { get_resource: {{ name }}_port_{{ name.split("_")[0] }} }
      flavor: { get_param: flavor }
      image: { get_param: image }
      diskConfig: AUTO
      config_drive: "true"
      user_data_format: SOFTWARE_CONFIG
      user_data: { get_resource: nix_config }

{% endfor %}